.material-icons{
  padding: 2px;
  color: #0cd26c;
}

.date-time{
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

.activities-container{
  height: 570px;
  width: 616px;
  margin-right: 15px;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}

.activities-container:hover{
  overflow-y: scroll;
}

.highlight a{
  font-size: 28px !important;
}

.activity-item{
  display: block;
  width: 600px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #cdcdcd;
}

.activity-item a{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.activity-item a:hover{
  color: #c0070e;
}

.video-container{
  padding-left: 15px;
}

.video-container .player{
  aspect-ratio: 16/9;
  width: 100%;
}
