<div id="header-contact">
  <div class="out-container">
    <div class="container d-flex justify-content-between" style="min-height: 48.750px;">
      <div class="contact d-flex ">
        <div class="tel d-flex align-items-center fs-8 pe-4">
          <i class="material-icons">call</i>
          (+84) - 24.66759.258
        </div>
        <div class="mail d-flex align-items-center fs-8 pe-4">
          <i class="material-icons">mail</i>
          trungtamkhaothi@vnu.edu.vn
        </div>
      </div>

      <div class="socials d-flex justify-content-end align-items-center">
        <a class="bi bi-facebook" href=""></a>
        <a class="bi bi-youtube" href=""></a>
        <a class="bi bi-twitter" href=""></a>
        <form class="search-form d-flex align-items-center">
          <input class="search-input" type="text" placeholder="Tìm kiếm...">
        </form>
        <i class="search-icon material-icons">search</i>
      </div>
    </div>
  </div>
</div>

<div id="header-nav" class="container d-flex align-items-center justify-content-between">
  <div class="logo">
    <a href="#">
      <img src="https://cet.vnu.edu.vn/assets/images/TTKT/logo-ttkt.png" alt="">
    </a>
  </div>

  <div class="nav d-flex align-items-center justify-content-end">
    <div class="nav-item"><a routerLink="Home">TRANG CHỦ</a></div>
    <div class="dropdown nav-item d-flex align-items-center dropable position-relative">
      <a routerLink="About">GIỚI THIỆU</a>
      <i class="material-icons">arrow_drop_down</i>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" routerLink="/About/co-cau-to-chuc">Cơ cấu tổ chức</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" routerLink="/About/chuc-nang-nhiem-vu">Chức năng và nhiệm vụ</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" routerLink="/About/co-so-vat-chat">Cơ sở vật chất</a></li>
      </ul>
    </div>
    <div class="nav-item"><a routerLink="/Categories/tin-tuc">TIN TỨC-SỰ KIỆN</a></div>
    <div class="dropdown nav-item d-flex align-items-center dropable position-relative">
      <a routerLink="/Categories/ky-thi">CÁC KỲ THI</a>
      <i class="material-icons">arrow_drop_down</i>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" routerLink="/Categories/tuyen-sinh-dai-hoc">Tuyển sinh đại học</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" routerLink="/Categories/tuyen-sinh-sau-dai-hoc">Tuyển sinh sau đại học</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" routerLink="/Categories/hoc-phan-chung">Học phần chung</a></li>
      </ul>
    </div>
    <div class="dropdown nav-item d-flex align-items-center dropable position-relative">
      <a routerLink="/Categories/hoat-dong">HOẠT ĐỘNG KHẢO THÍ</a>
      <i class="material-icons">arrow_drop_down</i>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Tập huấn khảo thí</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Kiểm tra kiến thức</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Phần mềm khảo thí</a></li>
      </ul>
    </div>
    <div class="nav-item"><a routerLink="Contact">LIÊN HỆ</a></div>
  </div>
</div>
