<div class="container d-flex p-0" style="margin-bottom: 50px;">
  <div class="address">
    <a href="">
      <img src="https://cet.vnu.edu.vn/assets/images/TTKT/logo-ttkt.png" alt="">
    </a>
    <div class="address-container">
      <p class="m-0">Trụ sở chính: Tầng 5, Nhà HT2, Khu Đô thị Đại học Quốc gia, Hòa Lạc, Thạch Thất, Hà Nội.</p>
      <p class="m-0">Cơ sở 2: Tầng 8, Nhà C1T, 144 Xuân Thủy, Cầu Giấy, Hà Nội.</p>
      <p class="m-0">Tel: (+84)-24.66759.258 / (+84)-24.62532.740</p>
      <p class="m-0">Email: trungtamkhaothi@vnu.edu.vn</p>
      <p class="m-0">Copyright © 2021 Đại Học Quốc Gia Hà Nội</p>
      <p class="m-0">Trung tâm Khảo thí Đại học Quốc gia Hà Nội thay đổi giao diện mới của website chính thức từ ngày 13/7/2022. Trang website cũ xem tại địa chỉ http://112.137.140.108</p>
    </div>
  </div>
  <div class="menu d-flex justify-content-center align-items-center">
    <div>
      <div class="menu-item">
        <a href="">Giới thiệu</a>
      </div>
      <div class="menu-item">
        <a href="">Đánh giá năng lực</a>
      </div>
      <div class="menu-item">
        <a href="">Phản hồi của xã hội</a>
      </div>
      <div class="menu-item">
        <a href="">Clip và hoạt động</a>
      </div>
    </div>
  </div>
  <div class="map flex-fill">
    <div class="title">
      <h3>Bản đồ chỉ dẫn</h3>
    </div>
    <div class="map-header">
      <p>Trung tâm khảo thí</p>
    </div>
    <div>
      <iframe class="shadow" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14895.429804319561!2d105.783438!3d21.038389!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab78d37561fb%3A0x5af36f21edf0cc46!2zVHJ1bmcgdMOibSBLaOG6o28gVGjDrSDEkEhRR0hO!5e0!3m2!1sen!2sus!4v1682416731613!5m2!1sen!2sus" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
