<div class="container">
  <div class="title">
    <h3>SỰ KIỆN</h3>
  </div>

  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of notiList; index as index">
        <ng-template carouselSlide>

          <div class="card shadow" style="width: 100%/3;">
            <a href="" class="shadow">
              <img src="{{imgUrl[index]}}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <div class="date-time d-flex align-items-center">
                <i class="material-icons">calendar_month</i>
                  {{slide['releaseDate'] | date:'dd/MM/yyyy'}},{{slide['releaseDate'] | date: 'hh:mm'}}
              </div>
              <div class="card-link">
                <a href="" class="card-text">{{slide['name']}}</a>
              </div>
              <div>
                <a href="" class="details">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
