<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cet.vnu.edu.vn/gw/imageresize/unsafe/1920x745/smart/cet.vnu.edu.vn/gw/file/v5/FileObject/public/375907a9-73db-47f3-9c27-74afd3a103f7/download" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cet.vnu.edu.vn/gw/imageresize/unsafe/1920x745/smart/cet.vnu.edu.vn/gw/file/v5/FileObject/public/2e837e73-9319-4920-92d0-cca891b907d8/download" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cet.vnu.edu.vn/gw/imageresize/unsafe/1920x745/smart/cet.vnu.edu.vn/gw/file/v5/FileObject/public/ae831079-d21c-48f8-bfb9-e05bf2ade915/download" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
