<h3>CƠ CẤU TỔ CHỨC</h3>

<h4 class="text-center">SƠ ĐỒ TỔ CHỨC</h4>

<div class="img-container text-center">
  <img src="https://cet.vnu.edu.vn/gw/file/v5/FileObject/public/37ed5cb8-7ead-4874-95be-920f554b712f/download" alt="">
</div>

<h4 class="text-center">BAN GIÁM ĐỐC</h4>

<div class="img-container text-center">
  <img src="https://cet.vnu.edu.vn/gw/file/v5/FileObject/public/263675b0-c57d-46f4-8d85-7029f16d1101/download" alt="">
</div>

<p class="fw-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phân công cụ thể của Ban Giám đốc Trung tâm Khảo thí ĐHQGHN tại Quyết định số 503/QĐ-TTKT ngày 17 tháng 08 năm 2022 về việc phân công công tác của Giám đốc và Phó Giám đốc Trung tâm Khảo thí Đại học Quốc gia Hà Nội</p>
<p class="fw-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1. Giám đốc Nguyễn Tiến Thảo</p>
<p class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a) Lãnh đạo, quản lý toàn diện mọi hoạt động thuộc chức năng, nhiệm vụ, quyền hạn của Trung tâm Khảo thí và theo Quy định chức năng nhiệm vụ, và các văn bản quy phạm pháp luật khác có liên quan.</p>
<p class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b) Trực tiếp chỉ đạo các lĩnh vực: Chiến lược, quy hoạch, kế hoạch phát triển Trung tâm; Tổ chức cán bộ; Hợp tác phát triển; Truyền thông; Thi đua khen thưởng; Tài chính; Nghiên cứu khoa học; Các kỳ thi đánh giá năng lực; Học phần chung; Cơ sở vật chất.</p>
<p class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c) Trực tiếp phụ trách các phòng: Hành chính - Tổng hợp, Nghiên cứu và Xây dựng Công cụ đánh giá, Kỹ thuật.</p>
<p class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; d) Là chủ tài khoản của Trung tâm.</p>
<p class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; đ) Thực hiện các nhiệm vụ khác do Đại học Quốc gia Hà Nội, Giám đốc ĐHQGHN phân công.</p>
<p class="fw-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2. Phó Giám đốc Vương Thị Phương Thảo</p>
<p class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a) Phụ trách các lĩnh vực: Công tác đoàn thể; Tổ chức thi sau đại học; Tổ chức hội thảo khoa học; Đào tạo các chương trình đào tạo ngắn hạn cấp chứng chỉ/chứng nhận; Nghiên cứu phát triển các công cụ kiểm tra đánh giá; Các hoạt động dịch vụ; Công tác Thanh tra – Pháp chế; Hoạt động tài chính thường xuyên (điện sinh hoạt, điện thoại cố định/internet, dịch vụ chung của tòa nhà; văn phòng phẩm, máy in, mực in, máy photop, ký kết các hợp đồng thuê sử dụng cơ sở vật chất của Trung tâm), Xây dựng câu hỏi thi, kiểm tra đánh giá.</p>
<p class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b) Phụ trách công tác Đoàn thể của Trung tâm.</p>
<p class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c) Phụ trách phòng Đánh giá và Chứng nhận kết quả.</p>
<p class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; d) Thực hiện các nhiệm vụ khác theo sự phân công của Giám đốc Trung tâm.</p>

<h4 style="text-decoration: none; padding: 18px 0;">DANH SÁCH CÁN BỘ LÃNH ĐẠO</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" >STT</th>
      <th scope="col" >Họ</th>
      <th scope="col" >Chức vụ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" colspan="3">Phòng Hành chính - Tổng hợp</th>
    </tr>
    <tr>
      <td>1</td>
      <td>TS. Hoàng Đăng Trị</td>
      <td>Phó Trưởng phòng phụ trách</td>
    </tr>
    <tr>
      <td>2</td>
      <td>ThS. Nguyễn Văn Việt</td>
      <td>Phó Trưởng phòng</td>
    </tr>
    <tr>
      <th scope="row" colspan="3">Phòng Nghiên cứu và Xây dựng công cụ đánh giá</th>
    </tr>
    <tr>
      <td>3</td>
      <td>ThS. Nguyễn Văn Dũng</td>
      <td>Trưởng phòng</td>
    </tr>
    <tr>
      <th scope="row" colspan="3">Phòng Kỹ thuật</th>
    </tr>
    <tr>
      <td>4</td>
      <td>ThS. Nguyễn Danh Quảng</td>
      <td>Trưởng phòng</td>
    </tr>
    <tr>
      <th scope="row" colspan="3">Phòng Đánh giá và Chứng nhận kết quả</th>
    </tr>
    <tr>
      <td>5</td>
      <td>ThS. Phạm Hương Thảo</td>
      <td>Trưởng phòng</td>
    </tr>
  </tbody>
</table>
