<div class="container" style="padding: 50px 0;">
  <div class="title">
    <h3>TIN GIÁO DỤC</h3>
  </div>
  <div class="news-container">
    <div class="highlighted-news">
      <div *ngFor="let i of notiList; index as index">
        <div *ngIf="index == 0">
          <a style="text-decoration: none;" href="">
            <img src="{{imgUrl[index]}}" alt="">
            <div class="banner">
              <a href="">
                {{i['name']}}
              </a>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="news-item" *ngFor="let i of notiCopy; index as index">
        <a href=""><img src="{{imgUrl[index+1]}}" alt=""></a>
        <div class="news-text">
          <div class="date-time d-flex align-items-center">
            <i class="material-icons">calendar_month</i>
              {{i['releaseDate'] | date:'dd/MM/yyyy'}},{{i['releaseDate'] | date: 'hh:mm'}}
          </div>
          <a href="">
            {{i['name']}}
          </a>
          <div class="details">
            <a href="">Xem chi tiết</a>
          </div>
        </div>
    </div>
  </div>
</div>
