.news-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 20px;
}

.news-container .highlighted-news{
  grid-row: 1/3;
}

.news-container img{
  object-fit: cover;
  width: 100%;
  border: 1px solid #e6e6e6;
}

.news-container .news-item{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  grid-gap: 15px;
}

.news-container .banner {
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  padding: 16px;
  font-weight: 600;
  background-color: #1a9547;
}

.banner a{
  color: #fff;
}

.news-item{
  position: relative;
}

.news-item .date-time{
  font-size: 13px;
}

.news-item .news-text>a{
  color: #000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

.news-item .news-text>a:hover{
  color: #ed1c24;
}

.news-item .details{
  position: absolute;
  right: 0;
  bottom: 24px;
}

.news-item .details a{
  text-decoration: none;
  color: #1a9547;
  font-style: italic;
}

.material-icons{
  padding: 0;
  padding-right: 10px;
  padding-top: 4px;
  color: #0cd26c;
}

