.header1{
  height: 89px;
}

.header1 h3{
  font-size: 20px;
  line-height: 89px;
}

.info-container{
  width: 625px;
  height: 425px;
  padding: 40px 30px;
  background: #f3f3f3;
}

.info-container h4{
  padding-bottom: 40px;
}

.divider{
  height: 1px;
  width: 60px;
  border-bottom: 2px solid #0c6e39;
  top: 35px;
  left: calc(50% - 30px)
}

h5{
  color: #00377a;
  font-size: 16px;
}

.info-container p{
  margin-bottom: 12px;
}

.form-container{
  width: 625px;
}

.form-container h4{
  margin-bottom: 20px;
}

input{
  padding: 6px 12px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
}

textarea{
  border: 1px solid #ced4da;
}

label{
  margin-bottom: 8px;
}

.btn{
  margin-top: 12px;
  width: 100%;
  background: #28a745;
  border-radius: 0;
  color: #fff;
  font-weight: 500;
}

.btn:active{
  background-color: #1e7e34;
  color: #fff;
}

.btn:focus{
  box-shadow: 0 0 0 0.2rem #48b46180;
  background-color: #1e7e34;
  color: #fff;
}

.material-icons{
  padding: 0;
  font-size: 6px;
}

sup{
  vertical-align: sub;
}

textarea{
  padding: 10px;
}


small{
  font-size: 10px;
  color: #dc3545;
}

.form-row{
  margin-bottom: 18px;
}

.submitted-invalid{
  border: #dc3545 1px solid;
  padding-right: calc(1.5em + 0.75rem)!important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  margin-bottom: 0;
}

.submitted-invalid:focus{
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem #dc354540 !important;
}

.form-control:focus{
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #007bff40;
}
