<div class="category-title d-flex align-items-center">
  <div></div>
  <h4>
    TIN TỨC & SỰ KIỆN
  </h4>
</div>
<div class="news-container">
  <div class="news-item" *ngFor="let i of notiList; index as index">
    <a href="">{{i['name']}}</a>
    <p class="date-time">{{i['releaseDate'] | date:'dd/MM/yyyy'}},{{i['releaseDate'] | date: 'hh:mm'}}</p>
    <div class="row">
      <div class="col-4">
        <img src="{{imgUrl[index]}}" alt="" style="width: 100%;">
      </div>
      <div class="col-8" style="font-size: 13px;">
        <p>{{i['summary']}}</p>
      </div>
    </div>
  </div>
</div>
