<h3>CHỨC NĂNG & NHIỆM VỤ</h3>

<h4>Chức năng:</h4>

<p class="pl-47">Thiết kế, xây dựng, phát triển các bộ công cụ khảo thí, các ngân hàng câu hỏi thi và tổ chức các đợt thi đánh giá năng lực (ĐGNL) người học hoặc ứng viên phục vụ công tác tuyển chọn, tuyển sinh và đánh giá kết quả đào tạo theo kế hoạch và chỉ đạo của ĐHQGHN.</p>
<p class="pl-47">Tổ chức các hoạt động nghiên cứu, bồi dưỡng và chuyển giao công nghệ trong lĩnh vực khảo thí; cung cấp dịch vụ khoa học và công nghệ (KH&CN) thuộc lĩnh vực khảo thí, kiểm tra, đánh giá, phát triển các bộ công cụ khảo thí trong giáo dục.</p>

<h4>Nhiệm vụ:</h4>

<p class="pl-47">Tổ chức xây dựng ngân hàng câu hỏi thi chuẩn hoá ĐGNL các ứng viên phục vụ tuyển chọn, tuyển sinh vào đại học, sau đại học (ĐH, SĐH) của ĐHQGHN và cho các cơ sở GDĐH, các tổ chức hợp pháp khác ở trong nước và nước ngoài khi có nhu cầu.</p>
<p class="pl-47">Tổ chức các đợt thi ĐGNL và cấp chứng nhận kết quả cho các ứng viên phục vụ việc tuyển chọn, tuyển sinh vào ĐH, SĐH của ĐHQGHN và cho các cơ sở GDĐH, các tổ chức hợp pháp khác ở trong nước khi có nhu cầu.</p>
<p class="pl-47">Thực hiện các hoạt động nghiên cứu và chuyển giao công nghệ liên quan đến hoạt động khảo thí và ĐGNL; cung cấp các dịch vụ KH&CN thuộc lĩnh vực khảo thí, phát triển các bộ công cụ khảo thí.</p>
<p class="pl-47">Tổ chức xây dựng các đề thi chuẩn hóa ĐGNL và tổ chức các kỳ thi ĐGNL chuyên biệt cho các ứng viên tham gia tuyển chọn vào ĐH, SĐH của ĐHQGHN và các cơ sở GDĐH, các tổ chức hợp pháp khác ở trong nước và nước ngoài khi có nhu cầu.</p>
<p class="pl-47">Tổ chức các khoá bồi dưỡng chuyên môn, nghiệp vụ, chuyển giao công nghệ và cấp chứng chỉ về khảo thí và ĐGNL; tổ chức xây dựng đề thi chuẩn hóa theo nhu cầu xã hội cho các bậc học.</p>
<p class="pl-47">Tổ chức các hoạt động quảng bá, giới thiệu về bài thi, kỳ thi ĐGNL và các hoạt động khảo thí khác để góp phần nâng cao thu hút thí sinh và sự quan tâm của cộng đồng đối với các ngành đào tạo và hoạt động đào tạo của ĐHQGHN</p>
<p class="pl-47">Thực hiện các nhiệm vụ khác do Giám đốc ĐHQGHN giao.</p>

<h4>CÁC PHÒNG BAN TRUNG TÂM KHẢO THÍ</h4>
<h4>1. Phòng Hành chính - Tổng hợp:</h4>
<h4>1.1. Chức năng</h4>

<div>&nbsp;&nbsp; Tham mưu và giúp việc cho Giám đốc điều hành các mảng công tác sau đây:</div>
<div>&nbsp;&nbsp; - Công tác hành chính, tổng hợp;</div>
<div>&nbsp;&nbsp; - Công tác tổ chức cán bộ;</div>
<div>&nbsp;&nbsp; - Công tác chính trị - tư tưởng; thi đua - khen thưởng;</div>
<div>&nbsp;&nbsp; - Công tác kế hoạch, tài chính, kế toán và quản lý, sử dụng cơ sở vật chất; </div>
<div>&nbsp;&nbsp; - Công tác thông tin - truyền thông, quản trị thương hiệu;</div>
<div>&nbsp;&nbsp; - Công tác hợp tác và phát triển;</div>
<div style="padding-bottom: 18px;">&nbsp;&nbsp; - Công tác thanh tra và pháp chế.</div>

<h4>1.2. Nhiệm vụ:  </h4>

<p>&nbsp;&nbsp;&nbsp; Thực hiện các nhiệm vụ liên quan đến công tác Hành chính, tổng hợp; tổ chức cán bộ; Chính trị tư tưởng, thi đua khen thưởng; Kế hoạch, tài chính, kế toán và quản lý, sử dụng cơ sở vật chất; Thông tin – truyền thông, quản trị thương hiệu; Hợp tác và phát triển; Thanh tra và Pháp chế và thực hiện các nhiệm vụ khác do Giám đốc phân công.</p>

<h4>2. Phòng Nghiên cứu và Xây dựng công cụ đánh giá</h4>
<h4>2.1. Chức năng:</h4>

<p>&nbsp;&nbsp;&nbsp; Tham mưu cho Giám đốc trong ban hành các quy định, kế hoạch nghiên cứu trong lĩnh vực khảo thí và tổ chức xây dựng các bộ công cụ đánh giá phục vụ tuyển sinh, khảo thí trong giáo dục, đánh giá năng lực của sinh viên tốt nghiệp và các bộ công cụ đánh giá khác theo đặt hàng của các tổ chức, cá nhân hợp pháp.</p>

<h4>2.2. Nhiệm vụ:  </h4>

<div>&nbsp;&nbsp; - Nghiên cứu và triển khai các lý thuyết khảo thí hiện đại trong đánh giá năng lực người học và đánh giá năng lực người lao động.</div>
<div>&nbsp;&nbsp; - Phát triển các công cụ đánh giá của quốc tế cho phù hợp với hoàn cảnh thực tế của Việt Nam.</div>
<div>&nbsp;&nbsp; - Nghiên cứu và triển khai các công cụ đánh giá mới đáp ứng nhu cầu xã hội và phù hợp với sứ mệnh, chiến lược phát triển của Trung tâm.</div>
<div>&nbsp;&nbsp; - Tổ chức và quản lý các đề tài/dự án nghiên cứu khoa học của Trung tâm.</div>
<div>&nbsp;&nbsp; - Xây dựng và quản lý các bộ ngân hàng câu hỏi chuẩn hóa phục vụ đánh giá năng lực học sinh phổ thông và đánh giá chất lượng giáo dục phổ thông.</div>
<div>&nbsp;&nbsp; - Xây dựng và quản lý ngân hàng câu hỏi chuẩn hóa phục vụ đánh giá năng lực nghề nghiệp của sinh viên tốt nghiệp.</div>
<div>&nbsp;&nbsp; - Xây dựng bài thi thử của các bộ công cụ đánh giá của Trung tâm và cung cấp dịch vụ tư vấn bằng báo cáo phân  tích kết quả làm bài thi thử.</div>
<div>&nbsp;&nbsp; - Triển khai các hoạt động chuyển giao công nghệ về khảo thí, về xây dựng công cụ đánh giá năng lực cho các đơn vị thành viên/trực thuộc ĐHQGHN và các đơn vị/tổ chức ngoài ĐHQGHN có nhu cầu.</div>
<div style="padding-bottom: 18px;">&nbsp;&nbsp; - Thực hiện các nhiệm vụ khác do Giám đốc phân công.</div>

<h4>3. Phòng Đánh giá và Chứng nhận kết quả</h4>
<h4>3.1. Chức năng </h4>

<p>&nbsp;&nbsp;&nbsp; Tham mưu cho Giám đốc trong việc đề xuất với ĐHQGHN ban hành quy chế và các quy định, hướng dẫn về hoạt động đánh giá năng lực người học hoặc ứng viên; chứng nhận kết quả phục vụ công tác tuyển chọn, tuyển sinh và đánh giá kết quả đào tạo; tổ chức các hoạt động đánh giá năng lực theo yêu cầu của ĐHQGHN và các hoạt động đánh giá năng lực người học, người lao động theo nhu cầu của các tổ chức, đơn vị ngoài ĐHQGHN.</p>

<h4>3.2. Nhiệm vụ:</h4>

<div>&nbsp;&nbsp; - Chuẩn bị cho Giám đốc các đề xuất ĐHQGHN trong việc ban hành quy chế, quy định và hướng dẫn về hoạt động đánh giá năng lực và chứng nhận kết quả đánh giá ở ĐHQGHN.</div>
<div>&nbsp;&nbsp; - Đề xuất Giám đốc ban hành các quy định, hướng dẫn về hoạt động đánh giá năng lực và chứng nhận kết quả đánh giá của Trung tâm theo đúng quy định của pháp luật, Bộ GDĐT và ĐHQGHN.</div>
<div>&nbsp;&nbsp; - Xây dựng kế hoạch tổ chức các hoạt động đánh giá năng lực và chứng nhận kết quả đánh giá theo năm học.</div>
<div>&nbsp;&nbsp; - Tổ chức các hoạt động đánh giá và chứng nhận kết quả, bao gồm các hoạt động đánh giá thử nghiệm, truyền thông; đăng kỳ dự thi; tổ chức đánh giá và công bố, chứng nhận kết quả đánh giá.</div>
<div>&nbsp;&nbsp; - Quản lý, lưu trữ hồ sơ các hoạt động đánh giá và chứng nhận kết quả theo quy định của ĐHQGHN và Trung tâm.</div>
<div>&nbsp;&nbsp; - Lập báo cáo thống kê dữ liệu của các hoạt động đánh giá theo quy định của Trung tâm và yêu cầu cụ thể của Giám đốc, phục vụ công tác tổng kết hoạt động đánh giá và nghiên cứu khoa học.</div>
<div>&nbsp;&nbsp; - Nghiên cứu, đề xuất với Giám đốc các giải pháp nhằm cải tiến hoạt động đánh giá năng lực theo xu hướng hiện đại và hội nhập quốc tế.</div>
<div style="padding-bottom: 18px;">&nbsp;&nbsp; - Thực hiện các nhiệm vụ khác do Giám đốc phân công.</div>

<h4>4. Phòng Kỹ thuật</h4>
<h4>4.1. Chức năng</h4>

<div>&nbsp;&nbsp;&nbsp; Tham mưu cho Giám đốc ban hành các quy định về xây dựng, vận hành và phát triển hệ thống kỹ thuật phục vụ hoạt động nghiên cứu và xây dựng công cụ đánh giá, tổ chức đánh giá và chứng nhận kết quả của Trung tâm; ban hành các bộ tiêu chuẩn kỹ thuật của hệ thống kỹ thuật, an ninh hệ thống và an toàn thông tin, quy trình nghiệp vụ và khung năng lực của nhân lực tại các vị trí vận hành hệ thống; đề xuất ĐHQGHN phê duyệt các phương án đầu tư nâng cấp, phát triển hệ thống kỹ thuật phục vụ hoạt động đánh giá và công tác quản lý, điều hành của Trung tâm hoặc do Giám đốc trực tiếp phê duyệt theo phân cấp quản lý.</div>
<div style="padding-bottom: 18px;">&nbsp;&nbsp;&nbsp; Xây dựng và phát triển các hệ thống kỹ thuật phục vụ hoạt động đánh giá (bao gồm cả phần cứng và phần mềm) phù hợp với quy chế, quy định của ĐHQGHN và của ĐHQGHN và Trung tâm trong tổ chức hoạt động đánh giá và trực tiếp tham gia tổ chức các hoạt động đánh giá của Trung tâm với vai trò đảm bảo vận hành hệ thống kỹ thuật.</div>

<h4>4.2. Nhiệm vụ</h4>

<div>&nbsp;&nbsp; - Đề xuất Giám đốc ban hành các quy định về xây dựng, vận hành và phát triển hệ thống kỹ thuật phục vụ nghiên cứu và xây dựng công cụ đánh giá, tổ chức đánh giá và chứng nhận kết quả của Trung tâm.</div>
<div>&nbsp;&nbsp; - Đề xuất Giám đốc ban hành các bộ tiêu chuẩn của hệ thống kỹ thuật, an ninh hệ thống và an toàn thông tin, quy trình nghiệp vụ và khung năng lực của nhân lực tại các vị trí vận hành hệ thống.</div>
<div>&nbsp;&nbsp; - Đề xuất Giám đốc phê duyệt các phương án đầu tư nâng cấp, phát triển hệ thống kỹ thuật phục vụ hoạt động đánh giá và công tác quản lý, điều hành của Trung tâm; giải pháp thực hiện quy định của pháp luật về quy chuẩn kỹ thuật quốc gia liên quan đến nơi làm việc.</div>
<div>&nbsp;&nbsp; - Quản lý và làm đầu mối tổ chức thực hiện các hoạt động nâng cấp, phát triển hệ thống kỹ thuật phục vụ hoạt động đánh giá và công tác quản lý, điều hành của Trung tâm; vận hành hệ thống kỹ thuật trong các hoạt động đánh giá và chứng nhận kết quả của Trung tâm; thực hiện các hợp đồng về chuyển giao công nghệ và phần mềm trong lĩnh vực khảo thí, tuyển sinh, đào tạo…; thiết kế website, cổng thông tin, ứng dựng và phần mềm; tư vấn, kiểm tra và khắc phục hậu quả sự cố CNTT; tư vấn thiết kế mạng, mô hình mạng của các tổ chức.</div>
<div>&nbsp;&nbsp; - Quản lý, bảo trì hệ thống mạng nội bộ, các phần mềm, máy chủ và thiết bị đi kèm, máy tính khác của Trung tâm.</div>
<div>&nbsp;&nbsp; - Quản lý, đăng ký, gia hạn, khắc phục sự cố, sao lưu, phục hồi các vấn đề liên quan đến domain và hosting, email của Trung tâm.</div>
<div>&nbsp;&nbsp; - Giám sát việc cung cấp thông tin về kỹ thuật và công nghệ ra bên ngoài của Trung tâm; đảm bảo nguyên tắc bảo mật theo quy định của Trung tâm.</div>
<div>&nbsp;&nbsp; - Làm đầu mối thực hiện các hợp đồng về tạo mới, duy trì, chỉnh sửa về mặt hệ thống, công nghệ cho đối tác từ khi đăng ký dự thi đến xét tuyển.</div>
<div>&nbsp;&nbsp; - Phối hợp với phòng Hành chính - Tổng hợp trong việc tổ chức đào tạo, tập huấn nhân lực kỹ thuật phục vụ hoạt động đánh giá của Trung tâm.</div>
<div style="padding-bottom: 18px;">&nbsp;&nbsp; - Thực hiện các nhiệm vụ khác do Giám đốc phân công.</div>
