<div class="outer-container">
  <div class="container header">
    <h3>GIỚI THIỆU</h3>
  </div>
  <div class="container d-flex">
    <div class="nav pe-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="">GIỚI THIỆU</a>
        </li>
        <li class="list-group-item">
          <a href="">CƠ CẤU TỔ CHỨC</a>
        </li>
        <li class="list-group-item">
          <a href="">CHỨC NĂNG & NHIỆM VỤ</a>
        </li>
        <li class="list-group-item">
          <a href="">CƠ SỞ VẬT CHẤT</a>
        </li>
      </ul>
    </div>
    <div class="content flex-fill">

    </div>
  </div>
</div>

