<h3>CƠ SỞ VẬT CHẤT</h3>

<p style="padding-top: 12px;">Trung tâm Khảo thí Đại học Quốc gia Hà Nội được thành lập từ năm 2014. Trong các năm qua, Trung tâm được giao thực hiện các nhiệm vụ liên quan đến : (i) công tác thiết kế, xây dựng, phát triển các bộ công cụ khảo thí, các ngân hàng câu hỏi thi và tổ chức các đợt thi đánh giá năng lực (ĐGNL) người học phục vụ công tác tuyển chọn, tuyển sinh và đánh giá kết quả đào tạo theo kế hoạch và chỉ đạo của ĐHQGHN; (ii) Tổ chức xây dựng các đề thi chuẩn hóa ĐGNL và tổ chức các kỳ thi ĐGNL chuyên biệt cho các ứng viên tham gia tuyển chọn vào ĐH, SĐH của ĐHQGHN và các cơ sở GDĐH.</p>
<p>Với sự quan tâm, chỉ đạo sát sao của Ban Giám đốc ĐHQGHN; đội ngũ nhân sự có năng lực, tràn đầy nhiệt huyết, kinh nghiệm, và hệ thống cơ sở vật chất hiện đại, Trung tâm đã chủ trì thực hiện thành công các kì thi đánh giá năng lực tuyển sinh bậc đại học chính quy, sau đại học các năm 2015, 2016 và đang tiếp tục thực hiện kế hoạch triển khai tổ chức thi sau đại học theo phương thức ĐGNL và một số nhiệm vụ khác được giao.</p>
<p>Đặc biệt, với sở vật chất hiện đại gồm:</p>
<p>- 8 chiếc Máy chủ Model:  Dell PowerEdge R730</p>
<p>- 03 phòng máy tính với 320 bộ Máy tính PC cấu hình cao</p>
<p>Dưới với sự vận hành của các kỹ thuật viên trình độ cao, nhiều kinh nghiệm đã cho phép Trung tâm Khảo thí ĐHQGHN mở rộng cơ hội hợp tác cùng các đơn vị trong và ngoài ĐHQGHN trong việc điều phối và hỗ trợ sử dụng các phòng máy để tổ chức các kì thi tiên tiến trên máy tính. Việc hợp tác này đã và đang được thực hiện thường xuyên trong thời gian qua, có thể kể đến một số hoạt động hợp tác sau: Phối hợp với Đại học Công nghệ trong tổ chức thi tin học cho cán bộ; Học viện Anh ngữ EQuest tổ chức cuộc thi English Champion 2017 vòng 2 cho các thí sinh từ lớp 4 đến lớp 8; Điều phối và hỗ trợ triển khai kỹ thuật cho chương trình Sam sung Software Chalênge - Thử thách sáng tạo cùng Sam sung Việt Nam 2016…</p>
<p class="text-center">Một số hình ảnh về hệ thống cơ sở vật chất, bao gồm phòng máy chủ và các phòng máy của Trung tâm Khảo thí ĐHQGHN:</p>

<div class="d-flex justify-content-center">
  <div class="img-container">
    <img src="http://cet.vnu.edu.vn/gw/file/v5/FileObject/public/944727ea-5982-4a09-be47-c840abc1e2ae/download" alt="">
  </div>
</div>
<p class="text-center fst-italic">Phòng máy</p>
<div class="d-flex justify-content-center">
  <div class="img-container">
    <img src="http://cet.vnu.edu.vn/gw/file/v5/FileObject/public/6658122d-fd31-48b4-a7c7-c2575af74160/download" alt="">
  </div>
</div>
<p class="text-center fst-italic">Phòng máy</p>
<div class="d-flex justify-content-center">
  <div class="img-container">
    <img src="http://cet.vnu.edu.vn/gw/file/v5/FileObject/public/eb7a09a9-bc75-4d23-b5b4-baaac6ec479e/download" alt="">
  </div>
</div>
<p class="text-center fst-italic">Phòng máy</p>
<div class="d-flex justify-content-center">
  <div class="img-container">
    <img src="http://cet.vnu.edu.vn/gw/file/v5/FileObject/public/a4a1f13b-3ad0-4962-9f70-d2ddc90cafab/download" alt="">
  </div>
</div>
<p class="text-center fst-italic">Phòng máy</p>
<div class="d-flex justify-content-center">
  <div class="img-container">
    <img src="http://cet.vnu.edu.vn/gw/file/v5/FileObject/public/6c41c388-8732-4a11-a072-d894c76b9850/download" alt="">
  </div>
</div>
<p class="text-center fst-italic">Phòng máy</p>
<div class="d-flex justify-content-center">
  <div class="img-container">
    <img src="http://cet.vnu.edu.vn/gw/file/v5/FileObject/public/d0317560-ea1e-41a9-b4ad-f6c4df64609d/download" alt="">
  </div>
</div>
<p class="text-center fst-italic">Phòng máy</p>
